.snackbar {
  --snackbar-btn-size: 24px;
  display: flex;
  align-items: center;
  padding: 1rem;

  &__icon {
    margin-right: 0.5rem;

    &--success {
      color: var(--clr-success);
    }

    &--error {
      color: var(--clr-error);
    }
  }

  &__message {
    font-weight: 500;
    color: #ffffff;
    margin-right: 0.75rem;
  }

  &__close {
    --clr-hsl-value: 0 0% 100%;
    width: var(--snackbar-btn-size);
    height: var(--snackbar-btn-size);
    line-height: var(--snackbar-btn-size);
    color: hsl(var(--clr-hsl-value) / 0.75);
    margin-left: auto;
    border: none;
    border-radius: 50%;
    background: transparent;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: hsl(var(--clr-hsl-value) / 1);
    }

    mat-icon {
      display: block;
    }
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--clr-accent);
  }
}
