.snackbar {
  display: flex;
  align-items: center;
  padding: 1rem;

  &__icon {
    margin-right: 0.5rem;

    &--success {
      color: var(--clr-success);
    }

    &--error {
      color: var(--clr-error);
    }
  }

  &__message {
    font-weight: 500;
    color: #ffffff;
    margin-right: 0.75rem;
  }

  &__close {
    @width: 20px;
    width: @width;
    height: @width;
    line-height: @width;
    color: #ffffff;
    margin-left: auto;
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--clr-accent);
  }
}
