.auth {
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;

  &__card {
    width: min(400px, 100%);
    padding: 2rem !important;
  }

  mat-card-title {
    text-align: center;
  }

  &__home-link {
    display: block;
    width: 64px;
    margin: 0 auto 2rem;
  }

  &__logo {
    width: 100%;
  }

  &__form {
    margin-top: 2rem;
  }

  &__actions {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;

    li {
      padding: 0 1rem;

      &:not(:last-child) {
        border-right: 1px solid #ffffff;
      }
    }

    a {
      color: #cccccc;
      font-size: .75rem;
      text-decoration: underline;
      transition: color .2s;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/auth-bg.jpg');

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: fade(#000000, 25%);
    backdrop-filter: blur(10px);
  }
}