:root {
  --box-shadow: 0 0 10px 5px hsl(0 0 0 / 0.2);
}

.article-grid {
  display: grid;
  grid-template-columns: minmax(100%, 1fr);
  gap: 3rem;

  @media (min-width: 992px) {
    grid-template-columns: 2fr 1fr;
  }
}

.post {
  &__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      border-radius: 50%;
    }

    &-initials {
      width: 40px;
      aspect-ratio: 1;
      display: grid;
      background-color: var(--clr-accent);
      color: var(--bg-dark);
      border-radius: 50%;
      place-items: center;
      font-size: 1.2rem;
    }

    &-content {
      display: flex;
      flex-direction: column;

      span:last-child {
        font-size: 0.8rem;
        color: hsl(0 100% 100% / 0.5);
      }
    }
  }

  &__share {
    --icon-size: 20px;
    --icon-color: hsl(0 0% 100% / 0.75);
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
    list-style: none;

    &:hover {
      --icon-color: hsl(0 0% 100% / 0.35);
    }

    li {
      cursor: pointer;

      &:hover {
        --icon-color: hsl(0 0% 100% / 1);
      }
    }

    mat-icon {
      color: var(--icon-color);
      width: var(--icon-size);
      height: var(--icon-size);
      transition: all 0.2s;
    }
  }

  &__content {
    font-size: 1rem;
    line-height: 1.5;
  }

  @media (min-width: 992px) {
    padding-right: 3rem;
    border-right: 1px solid var(--bg-light);
  }
}

.related {
  &__posts-list {
    display: flex;
    gap: 2rem;
    scroll-margin-inline-end: calc(var(--container-padding-x) * -1);
    padding-bottom: var(--container-padding-x);
    overflow-x: auto;
  }

  &__post {
    display: flex;
    flex-direction: column;
    flex: 1 0 80%;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: var(--clr-accent);

      img {
        box-shadow: var(--box-shadow);
      }
    }

    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      transition: inherit;
    }
  }

  @media (min-width: 650px) {
    &__post {
      flex: 1 0 45%;
    }
  }

  @media (min-width: 992px) {
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;

    h2 {
      --bg-title: var(--bg-dark);
      --sticky-offset: 0.5rem;
      position: sticky;
      background-color: var(--bg-title);
      top: var(--sticky-offset);
      padding-bottom: var(--sticky-offset);

      &::before {
        content: '';
        position: absolute;
        inset: calc(var(--sticky-offset) * -1) 0 auto 0;
        height: var(--sticky-offset);
        background-color: var(--bg-title);
      }

      &::after {
        content: '';
        position: absolute;
        inset: 100% 0 auto 0;
        height: calc(var(--sticky-offset) * 2);
        background: linear-gradient(to bottom, var(--bg-title), transparent);
      }
    }

    &__posts-list {
      flex-direction: column;
      scroll-margin-inline-end: unset;
      padding-bottom: 0;
    }
  }
}
