<h2 class="mat-title">Create Post</h2>
<mat-spinner *ngIf="loaderService.isLoading$ | async; else loaded"
             class="center-x"></mat-spinner>
<ng-template #loaded>
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field color="accent"
                      appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput
               formControlName="title">
        <mat-error>{{ getErrorMessage('title') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field color="accent"
                      appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput
                  formControlName="content"
                  rows="6"></textarea>
        <mat-error>{{ getErrorMessage('content') }}</mat-error>
      </mat-form-field>
    </div>
    <hr>
    <app-image-picker [postTitle]="form.value.title"
                      [validMimeType]="form.get('image').valid"
                      [postImage]="form.get('image').value"
                      (imagePicked)="onImagePicked($event)"></app-image-picker>
    <div class="post-create-actions">
      <button mat-flat-button
              type="submit"
              color="accent"
              [disabled]="form.invalid">{{ mode === Modes.Create ? 'Add' : 'Save' }} Post</button>
      <button mat-flat-button
              color="warn"
              (click)="onCancel()"
              type="button">Cancel</button>
    </div>
  </form>
</ng-template>