<main>
  <div class="container">
    <div
      class="post-editor"
      *ngIf="!(loaderService.isLoading$ | async); else loading">
      <h1
        *ngIf="this.mode === Mode.CREATE"
        class="page-title">
        Create Post
      </h1>
      <form
        class="mb-3"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <div class="form-group mb-4">
          <app-image-picker
            formControlName="image"
            [postTitle]="form.value.title"
            [valid]="form.controls.image.valid"></app-image-picker>
          <mat-error>{{ getErrorMessage('image') }}</mat-error>
        </div>

        <div class="form-group mb-4">
          <app-post-title
            placeholder="Post Title"
            formControlName="title"></app-post-title>
          <mat-error>{{ getErrorMessage('title') }}</mat-error>
        </div>

        <div class="form-group mb-3">
          <quill-editor
            formControlName="content"
            placeholder="Post content..."
            theme="snow"
            [minLength]="3"
            [required]="true"
            [trimOnValidation]="true"
            [sanitize]="true"></quill-editor>
          <mat-error>{{ getErrorMessage('content') }}</mat-error>
        </div>

        <div class="post-editor__actions">
          <button
            mat-flat-button
            type="submit"
            color="accent"
            [disabled]="form.invalid">
            {{ mode === Mode.CREATE ? 'Add' : 'Save' }} Post
          </button>
          <button
            mat-flat-button
            color="warn"
            (click)="onCancel()"
            type="button">
            Cancel
          </button>
        </div>
      </form>
    </div>

    <ng-template #loading>
      <mat-spinner class="mx-auto"></mat-spinner>
    </ng-template>
  </div>
</main>
