/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '~quill/dist/quill.snow.css';
@import url('./quill.less');
@import url('./spacing.less');

:root {
  --bg-dark: hsl(0 0% 19%);
  --bg-light: hsl(0 0% 26%);

  --clr-primary: hsl(282 68% 38%);
  --clr-accent: hsl(151 82% 68%);
  --clr-success: hsl(123 41% 48%);
  --clr-error: hsl(0 70% 60%);
  --clr-warning: hsl(45 100% 51%);
  --clr-info: hsl(190 90% 50%);

  --font-orelaga: 'Orelega One', sans-serif;

  --page-title-ff: var(--font-orelaga);
  --page-title-fs: 2.5rem;
  --page-title-lh: 1.25;
  --page-title-mb: 3rem;

  --container-padding-x: 1rem;
  --border-radius-editor: 5px;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100dvh;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

main {
  padding-block: 3rem;
}

img {
  display: block;
  max-width: 100%;
}

h1.page-title {
  font-family: var(--page-title-ff);
  font-size: var(--page-title-fs);
  line-height: var(--page-title-lh);
  margin-bottom: var(--page-title-mb);
}

.mdc-button {
  letter-spacing: normal;
}

.mdc-button__label {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--bg-dark) !important;
}

.container {
  width: 100%;
  padding-inline: var(--container-padding-x);
  margin-inline: auto;

  @media screen and (min-width: 1280px) {
    max-width: 1200px;
  }
}

.text-center {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.form-group {
  margin-bottom: 0.5rem;
}

.snackbar-container {
  .mdc-snackbar__label {
    padding: 0;
  }

  .mdc-snackbar__surface {
    position: relative;
    padding: 0 !important;
    background-color: var(--bg-light) !important;
    overflow: hidden;
  }
}

.post__content {
  & > *:not(:first-child) {
    margin-block-start: 1em;
    margin-bottom: 0;
  }
}

.generate-icon-sizes(16);

.generate-icon-sizes(@size) when (@size =< 64) {
  .icon-@{size} {
    width: (@size * 1px) !important;
    height: (@size * 1px) !important;
    font-size: (@size * 1px) !important;
    line-height: 1 !important;
  }

  .generate-icon-sizes((@size + 8));
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s !important;
}
