/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('./spacing.less');

:root {
  --bg-dark: hsl(0, 0%, 19%);
  --bg-light: hsl(0, 0%, 26%);
  --clr-primary: hsl(282, 68%, 38%);
  --clr-accent: hsl(151, 82%, 68%);
  --clr-success: hsl(123 41% 48%);
  --clr-error: hsl(0 70% 60%);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

main {
  padding: 3rem 0;
}

.mat-button-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    max-width: 1200px;
  }
}

.text-center {
  text-align: center;
}

.center-x {
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

.form-group {
  margin-bottom: .5rem;
}

.snackbar-container {
  position: relative;
  padding: 0 !important;
  background-color: var(--bg-light);
  overflow: hidden;
}

.generate-icon-sizes(16);

.generate-icon-sizes(@size) when (@size =< 64) {
  .icon-@{size} {
    width: (@size * 1px) !important;
    height: (@size * 1px) !important;
    font-size: (@size * 1px) !important;
    line-height: 1 !important;
  }

  .generate-icon-sizes((@size + 8));
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}