<div
  class="image-picker"
  [title]="blobname ?? 'Add image'">
  <div
    class="image-picker__image-wrapper"
    [class.image-picker__image-wrapper--picked]="thumbnail && valid"
    (click)="imageInput.click()">
    <div
      *ngIf="!thumbnail || !valid"
      class="image-picker__placeholder">
      <mat-icon class="image-picker__placeholder-icon">add</mat-icon>
      <p class="image-picker__placeholder-text">Select Title Image</p>
    </div>
    <img
      *ngIf="thumbnail && valid"
      class="image-picker__thumbnail"
      [src]="thumbnail | safe : 'resourceUrl'"
      [attr.alt]="postTitle" />
    <button
      *ngIf="thumbnail && valid"
      mat-icon-button
      class="image-picker__btn-remove"
      (click)="onRemoveImage($event)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <span
    *ngIf="blobname && valid"
    class="image-picker__blobname"
    >{{ blobname }}</span
  >
</div>
<input
  type="file"
  #imageInput
  (change)="onImagePicked($event)" />
