.posts-grid {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1.5rem;
}

.post {
  position: relative;
  box-shadow: 0 0 10px 5px #222;
  transition: all 0.3s;
  will-change: transform;
  cursor: pointer;

  &:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 0 25px 5px #111;
  }

  &__meta-data {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
    color: #ddd;
    font-size: 0.75rem;
    justify-content: space-between;
  }
}

img {
  display: block;
  height: 250px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

mat-card {
  --line-clamp: 2;
  height: 100%;
}

mat-card-title {
  margin-bottom: 1rem;
  line-height: 1.5;
}

mat-card-subtitle {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
}

mat-card-footer {
  border-top: 1px solid fade(#000, 45%);
  display: flex;
  padding: 0 1rem;
}

@media (min-width: 720px) {
  .posts-grid {
    --columns: 2;
  }
}

@media (min-width: 992px) {
  .posts-grid {
    --columns: 3;
  }

  .post {
    &:nth-child(4n),
    &:nth-child(4n + 1) {
      grid-column: span calc(var(--columns) - 1);
    }
  }
}
