<app-header></app-header>
<main>
  <div class="container">
    <h1 class="page-title">Latest Posts</h1>
    <mat-spinner
      *ngIf="loaderService.isLoading$ | async; else loaded"
      class="center-x"></mat-spinner>
    <ng-template #loaded>
      <div
        *ngIf="(posts$ | async).length; else noPosts"
        class="posts-grid">
        <div
          *ngFor="let post of posts$ | async"
          class="post">
          <mat-card [routerLink]="['/posts', post.id]">
            <img
              loading="lazy"
              mat-card-image
              [src]="post.imagePath"
              [alt]="post.title" />
            <ul class="post__meta-data">
              <li>By {{ post.author.fullName }}</li>
              <li>{{ post.createdAt | date : 'dd.MM.yyyy HH:mm' }}</li>
            </ul>
            <mat-card-title>{{ post.title }}</mat-card-title>
            <mat-card-subtitle>{{ post.content.substring(0, 300) }}</mat-card-subtitle>
          </mat-card>
          <ul
            *ngIf="(isAuthenticated$ | async) && post.author.id === userId"
            class="post__actions">
            <li [routerLink]="['/edit', post.id]">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </li>
            <li (click)="onDeletePost(post.id)">
              <mat-icon>close</mat-icon>
              <span>Delete</span>
            </li>
          </ul>
        </div>
      </div>

      <ng-template #noPosts>
        <p class="mat-body-strong text-center">There are no posts yet!</p>
      </ng-template>
    </ng-template>
  </div>
</main>
